arrow==1.2.3
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
html5lib==1.1
ics==0.7.2
idna==3.4
python-dateutil==2.8.2
requests==2.30.0
six==1.16.0
soupsieve==2.4.1
TatSu==5.8.3
urllib3==2.0.2
webencodings==0.5.1
validators==0.22.0
